<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<h1>About me</h1>
<p>
    Hello there! I am Wayo HERE and this is my amazing app!

    
    <h5>Links</h5>
    <ul>
        <li>
        <a href="https://github.com/wayo848yowa">GitHub:@wayo848yowa</a>
        </li>
    </ul>
      
</p>
